/* footer.css */

footer {
  background-color: #222;
  color: #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-links,
.useful-links,
.contact-info {
  flex: 1;
  margin-right: 20px;
}

.navigation-links h4,
.useful-links h4,
.contact-info h4 {
  color: #ddd;
  font-size: 16px;
  margin-bottom: 10px;
}

.navigation-links ul,
.useful-links ul {
  list-style-type: none;
  padding: 0;
}

.navigation-links ul li,
.useful-links ul li {
  margin-bottom: 5px;
}

.navigation-links a,
.useful-links a {
  color: #8bc34a; /* green color */
  text-decoration: none;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info p:first-of-type {
  margin-top: 10px;
}
